<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create question</title>
</head>
<body>
	<h1>Create question</h1>

	{% if class %}
	<form action="." method="POST" enctype="multipart/form-data">
		{{question_form}}
		{{choices_form}}
		{% csrf_token %}
		<input type="submit" value="Create">
	</form>

	{% else %}
	<form action="." method="POST">
		{{ form }}
		{% csrf_token %}
		<input type="submit" value="Create">
	</form>

	{% endif %}
</body>
</html>